/** @format */

nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  justify-content: center;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

.App {
  /* text-align: center; */
  display: flex;
}
